#root {
    max-width: 550px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2 {
    margin: 0px;
}

.card__info {
    margin: 10px 0px;
}

.card__title {
    margin-bottom: 10px;
    font-size: 1.6em;
}

.header {
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    background: #f55a5a;
    padding: 20px;
}

.world-icon {
    width: 30px;
    fill: white;
    margin-right: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > img {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 10px;
}

.card {
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.location-flex {
    display: flex;
    align-items: center;
}

.card__location {
    font-weight: 400;
    font-size: 1em;
    margin-right: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__date {
    font-weight: 600;
}

.card__description {
    font-size: 0.8em;
    margin-top: 9px;
}

.card__google-maps {
    color: gray;
    text-decoration: underline;
    font-size: 0.8em;
}

.location-svg {
    width: 15px;
}